#submit {
	    background-color: #E8FFFF;
		border: none;
	    font-family: 'Oswald';
	    font-size: 40px;
	    color: green;
	    width: 100%;
	}
	#text {
		background-color: #E8FFFF;
		border: none;
	    font-family: 'Oswald';
	    font-size: 40px;
	    color: green;
	    width: 100%;
	    text-align: right;
	}
	#submit:hover {
	    border: none;
	    background: #7DFFFF;
	}